body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
      to right,
      rgba(20, 108, 148, 0.89),
      rgba(20, 108, 148, 0.95)
    ),
    url(images/riho-kroll-m4sGYaHYN5o-unsplash.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

p {
  margin: 0 2% 5%;
  font-size: 1rem;
  color: #146c94;
}
h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #146c94;
  margin: auto;
}
h2 {
  font-size: 1rem;
  font-weight: bolder;
  color: #146c94;
  margin: auto;
}
h3 {
  font-size: 1.5rem;
  color: #146c94;
  margin: 0;
  padding: 0;
}
h4 {
  color: #fff;
  margin: 0;
  padding: 0;
}

/****containers*********/
.container {
  width: 90%;
  height: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #146c94;
  margin: auto;
  text-align: center;
  border: 1px solid white;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(46, 46, 46, 0.4);
}

.mid-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 15% 0;
}
.score {
  width: 100%;
  margin: auto;
  padding: 2%;
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
}
.button-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.dices {
  width: 100%;
  margin: auto;
  padding: 0;
}
.winner {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: white;
}

/*BUTTONS****************/
.roll-btn {
  width: 100%;
  border-radius: 16px;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bolder;
  display: block;
  background-color: white;
  color: #146c94;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgba(46, 46, 46, 0.4);
}

.reset-btn {
  width: 100%;
  margin: 50% 0;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bolder;
  color: #146c94;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgba(46, 46, 46, 0.4);
}
.reset-btn:hover {
  background-color: #c0dbea;
  color: #fff;
}
.turn-indicator {
  background-color: #c0dbea;
  color: white;
}
img {
  width: 25%;
  margin: 10% 0;
}

/*prompt*/
.prompt-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-inner {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  font-size: 16px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.prompt-btn {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: #146c94;
}

@media screen and (max-width: 600px) {
  .container {
   width: 80%;
  }
}
@media screen and (min-width: 601px) {
  .container {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
  }
  .dices {
    width: 100%;
    height: 100%;
    margin: 10% 0;
  }

  .dice1 {
    transform: scaleY(-1);
  }
  .btn-1 {
    transform: scaleY(-1);
  }
  .mid-container {
    width: 100%;
    height: 20%;
    margin: auto 0;
  }
  .roll-btn {
    width: 50%;
    margin: auto;
  }
  img {
    width: 45%;
  }
  .score {
    height: 20%;
  }
}
